language: elixir
sudo: required
cache:
  directories:
  - deps
services:
  - docker
  - postgresql
addons:
  postgresql: "9.5"
elixir:
  - 1.4.2
otp_release:
  - 19.2
env:
  global:
    - MIX_ENV=test
    - DOCKER_HUB_ACCOUNT=nebo15
    - MAIN_BRANCHES="master develop staging" # Branches on which you want version to be incremented
    - RELEASE_BRANCH="migrate_p2y_api"
    - secure: r4X8qA7x/vfjc8cVFvd32HI2vjG6+K4qzXcNs4wVB113i4Bd7hWGgMELssP8qoBDOYZaTRUcmJreMraJJx1sJ/Eaav87dGu7ujtwCX6Ry9h+Vi0tLIfZeAWqusQiwEOELPfDDrzlck9Up3c95rMnYsCBBpjHUfUvq46BewpIUmh/FXzF2DvRneIqY+r8AoHeUimRQuUClsnhcq4QInj1EpBdxL2T0TJJm9vHU6homnVOqlcaUw9TU+zU3NvizzfHwKI31gjuEgaLXwnOVJeAjPuW0/ysKzAO/Z5ijPp9ORvL2XuB4xzl0MHdk4undVuBOjIHF5wqmOC2nRe4/43urNLyYj2pFHDBcce21ShZvtrkCm45es52f6RZMLoVnmQdZOSlQuSnSXDlXTQForVSGXxg9Odia2AMryUseaIHu/tM7Ql7/m5D5/rFp6mnG31PDvZmDgaLJvIw+7HxzuAfFkvkIAn68ML7buiBxtk5K6O0HyID+WR6tSqVkpv52aNI6bZCwC8K2NyVGGTqJR+0ShOfwuWdp77VazI9rC0bejN+gJY1cixeg9Kdi4ApPE69Z1tGldRHO1ifDgkALTw6DGYAH52vrDrS0k0EZr1nbdEdd7HLlD2s6a1j0n/fT6hCZBGl2sb9ljEr9//DrdbXQZyWihtXY9N4/s82txf8o0o=
    - secure: aI8fdolKCm9CDEE54sLMAXKzOyvA28NUcJgV+CxDQzePrMNyvczIk+G2gz/CFAhE9rs83WBV1OeEsJiMgmTmFe8NN2bV2vxSZI3iZTcmgq5tPwsHeuZKACchHQkMVKd84J67e/1Kbt7B6iytA9L8BcstmYt8b+JKRE29CprOmRa27VcCd8/1JNn+ue2oJ2qUpA5XLX32e5P7LjDR1LMaf0VDRPXVJUjNQ0w8H0c0NInBZcHiApapOaByNdat1vRepAVG7yT0M3ur8PoIe0QUqpTlKP8axvxSdW+8/eZF6QXn9FUBxgVEhLc4SE4rLpIRTruTUiO32f+96r5PM2nCqPS+OdiXUdr7uUuu2O+rnzhztYO6tF0NkbSrro7KV2ujhmQQQy0sdN6dNmsqkmdkmee0pxELnYiiD1PmIEpXexA+q9QTlVSz1eYHTgs7ah/MK9foitKwOmMnk8CQqyBzr7OVjnVqxzjYy0BDN11NNt3Y8wEULusePlznPdLq9rZdtuFdh8OUllecG0n/1257CTZmZJXV5ohQKLMauS24o6mUJmJI07YRxUpW7IiqrfHvruQopuvc08g5JW86wFYZo6cKg/kWISAUc/iA5zXX2LXL5uEKnquaj9dU/T13ndCoNBw22UPRHUvYBKQSeZJQCrmMY8TnlCzsklwJbywMaH4=
    - secure: DI9dsAjrnjrSUVYdLgZwMgr77g17CUA1Zs6RkLrU3Ax8n60oEQMB612egp0hFq1+QNn3PflbR3dxYqMYkwYZ1W75ZlNHnoguFVE6jog9w+KyIwVjSE2I7UeVGAuLDH/F5z5wZfvfcnhS10RrA7YE73Usse18XNvHnWgCfhwKFtMDZf+G0qcoFOdnRNPscIiuBVMA8Lf4Q6lk96jQiBny0o4Ma7UWpYCcfrOj3x7FGNf/jkwUWMY0k9Ewc9BmADk0abJzGjeaon6x7Ma7thC8PGizlRuKhnMis6Llwrnk7xszOAV1rQfYJfLBvNagF0kt3ig7JDgrq35TCPJg10tnoi7jmFKL3gOjNKpcHKe7DjRhlAxn4TQJipZXLgM8Sq4J7Dmoe9vivxhc2ONnbbqBF1fWZG/czHm2d9qf5klQEzDt3mitU41IqNs171o2TG3WMldIDa4p1dohpLNTg8Lu+YYtxZ8hDCMiBNbmhHwu9cStX4pH41vewTM9qDm/PfdgRMLuywcN23WgZ2v4d4wQeBfZhQNueJXwHx5ESJhM2aV32aq9s1GFR2x3VJGUktoLyZ7Kul3mPLW/nSpr0y1POVSkiJA7/KgshHrtqVm6Eqv2g64dnVgLi2WbXntK10G7IA/IMHVZaYlKW8q/E+IJOD3srSccz6zZpgBBXj13oOs=
    # GH token
    - secure: DFsI0qijND95nHqmpJlkO1h+9f0GbIoF3WKk9O3SHrKJioQSRwAhYA5QZJ0hEP110Mc7K43/qG4+njLwM4SRxDuNWyCOUq6dtNIPwC0JpgFRS8l5bAaLMecUJg1DwMaSmC4daORZKw3cElaTwef27rVZo5YwU1HITHhODbp5FU+cx7z/Z8rr3lAyQ8LVCvo/NM8KLTnjxk8N4HcEIsBPBG/YWQ4vciZSJfFeph7fP9tO124B7byjLtBuwggpbhXzImRbHpjXAkhqTeP9ODiZnFvR6BjEf1/O1dVW7U/Ix+UAz41+pvRZ+iKNe0WK1vMoC7fxGG5VlJGBMXLRoMN0cnB2KRvDBumZhk6WumwT9X3+voRwKtW0uplowmli5gbFD8GF4CFkioUYi9jLnlgXRFcDVJKy+z1sUdCwYoPcO/bxXf0ylNtD8eIqYgW5myg3PzMXbn+z8r8a+Yd4opajIT5xauxEvtrugb/k3fOw1E0H8AtZnsgG1+mCiyoT4387c56NCcbGU6DA99tw4wgdgYOvor9iOwRLPZX8A3pMi491MxTa+34sICuQOYHdnaJCpEF4hXAP+uumX9yVFwOJaJ493zvMIhSvB3onCaUiptd16PT4VYhX42sUq5ochSDghoVO4cdsyTbMVn6fNhbmMoR8OMwIgLBWmmRyDgs4opM=
    # Docker username
    - secure: gyK8NvmLgSnOsiePou5vrcTCPspnh8TF9SL9Cbopi2iSqC2Fm04hyNWQ4skRVQoQjnxsye7dN68iY7fmtwv37buJ8zwAemYvcYnh5+3nXOoLR9M8dmLQ+XTKLvY1IOdpJd5nJZqG4X8X+lJycXExcodJXi8216Fco/deXEKcp2umorEHUa9ZyFJzRQnHEQFEINtYn4gGh5usYaT1N/EoiGlycYGZ3we09DMFyzWfBIi/Cai8MWtfHm2V0sVSBg+i//dVGNQx0DdYx3n38XAE3+z+tvqeFNo3ZBdZbtwjrZKRBrZXEXb40bu0AujZSnH38A0q3/k+tD3i6JzfPUOz+EMGd5R2lvjJ5pK3GzGcCmuN+9kwvccKXqEFy/rAz1hnGpmoYBGk6s+0jgnttfoeDkMssG/D6an7+gXtz7rUwxDyhNUjug4WvkKAcPKDZRG7hHT0dkzJqf2a9dnfvjDk5OyFE12GAMf1pX7kYH6uWDSZc9l8xrmPOK51p3gE2dUMHBDhe0jjxHS2BzyKSceMP0jeBx1Qnjmd8cTQvueL8WwiVz7u9YMfy6QwUuSB01l8f+W4J3AKPHD10LCj5CEo8k81RL7+JlgIkk3xTuGgf6Ig1ctthWdFV6oklvA4B2GdKCuJL95zTyU4pok2PEvi8bea6voiCKYSSneS4LwWkeE=
    # Docker password
    - secure: TpIzhOs3DRin5ICAsVIWCgUU+gewHWtS/FKxKij8VnagAARAjA2B9R48ZfOicuM26pEpmG0x+1GRFKh7ygjqd/EMl9+l9zBCCKCFeSQhMClN4cP5hyUeljWTQkibGPwoNgC8GcckWTVbdyOKjE5RriRNVaHYCVGdjDTduTQO6XJyl+992tvWpLF13ZQbknV0mCe8VWLUyXwlx05L1MM4G+BJqW9+Os/fqpJhBb7UmX5m6utM+LLVR0ggOADEDa0UgnnPbi0+akkm5KClVGKWbMyMh0MoNXTQrPzbSjv/I81Y9Raf+dSN3O76BhbKFT9lmH7rVG1RrUYQTgdYBTwD8TucFshV1TSCBBjJvKPBm2mAc7l7OkiZmXam7um2u/zIwjp0vevyFv7Fvp6MjYUlxAYk4W8213lcwGj3/xAER5okN6y5vlSbMWgEDNdoMJq1xnNXESONjgvMvmzMPDxEZtznI92nsqGEogwOmM7SeUr9auHxUROKeOJHMRX3wcsN9+//BPWqAuqv2sAzvQbDSUtlawNyg0XYLXd0sgiZKZU+uM3ghsduplJY/zIYm6n7KUoWIIft6ez3lPvXuSniXCVuM54HZfIo8jFx1wTNlIGh/hIVtVsJSbAR7cTbAlUWg2GXBh1y2wjqDcJ9CQZgojcMpjPvDR5T8PCQCFX4KR8=
branches:
  # Releases are generated automatically, stop infinite build loop
  except:
    - /[0-9]*\.[0-9]*\.[0-9]*/
before_install:
  # Install heroku toolchain
  - wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh
  # Expose MQ and DB to Docker container
  - sudo ./bin/ci/init-db.sh
script:
  # Increment version in mix.exs
  - "./bin/version-increment.sh"
  # Install dependencies
  - "mix deps.get"
  # Run all tests except pending ones
  #- "mix test --exclude pending --trace"
  # Submit code coverage report to Coveralls
  - "mix coveralls.travis"
  # Run static code analysis
  #- "mix credo"
  # Check code style
  #- "mix dogma"
  # Build Docker container
  - "./bin/build.sh"
  # Initialize DB for Docker container
  - "MIX_ENV=dev mix ecto.setup"
  # Run Docker container
  - sudo ./bin/start.sh
  - sleep 5
  - docker ps
  - RUNNING_CONTAINERS=`docker ps | wc -l`;
  - if [ "${RUNNING_CONTAINERS//[[:space:]]/}" == "1" ]; then echo "[E] Container is not started!"; docker logs gateway_api --details --since 5h; exit 1; fi;
  # Run acceptance tests on Docker container
  - "CONTAINER_HTTP_HOST=localhost CONTAINER_HTTP_PORT=4000 mix test test/*/acceptance"
after_failure:
  - docker logs gateway_api --details --since 5h
after_success:
  - ./bin/ci/push.sh
  - ./bin/ci/deploy.sh
  - docker logs gateway_api --details --since 5h