language: elixir
sudo: required
cache:
  directories:
  - deps
services:
  - docker
  - postgresql
addons:
  postgresql: "9.5"
elixir:
  - 1.3.4
otp_release:
  - 19.0
env:
  global:
    - MIX_ENV=test
    - DOCKER_HUB_ACCOUNT=nebo15
    - MAIN_BRANCHES="master develop staging" # Branches on which you want version to be incremented
    - RELEASE_BRANCH="master"
    - secure: r4X8qA7x/vfjc8cVFvd32HI2vjG6+K4qzXcNs4wVB113i4Bd7hWGgMELssP8qoBDOYZaTRUcmJreMraJJx1sJ/Eaav87dGu7ujtwCX6Ry9h+Vi0tLIfZeAWqusQiwEOELPfDDrzlck9Up3c95rMnYsCBBpjHUfUvq46BewpIUmh/FXzF2DvRneIqY+r8AoHeUimRQuUClsnhcq4QInj1EpBdxL2T0TJJm9vHU6homnVOqlcaUw9TU+zU3NvizzfHwKI31gjuEgaLXwnOVJeAjPuW0/ysKzAO/Z5ijPp9ORvL2XuB4xzl0MHdk4undVuBOjIHF5wqmOC2nRe4/43urNLyYj2pFHDBcce21ShZvtrkCm45es52f6RZMLoVnmQdZOSlQuSnSXDlXTQForVSGXxg9Odia2AMryUseaIHu/tM7Ql7/m5D5/rFp6mnG31PDvZmDgaLJvIw+7HxzuAfFkvkIAn68ML7buiBxtk5K6O0HyID+WR6tSqVkpv52aNI6bZCwC8K2NyVGGTqJR+0ShOfwuWdp77VazI9rC0bejN+gJY1cixeg9Kdi4ApPE69Z1tGldRHO1ifDgkALTw6DGYAH52vrDrS0k0EZr1nbdEdd7HLlD2s6a1j0n/fT6hCZBGl2sb9ljEr9//DrdbXQZyWihtXY9N4/s82txf8o0o=
    - secure: aI8fdolKCm9CDEE54sLMAXKzOyvA28NUcJgV+CxDQzePrMNyvczIk+G2gz/CFAhE9rs83WBV1OeEsJiMgmTmFe8NN2bV2vxSZI3iZTcmgq5tPwsHeuZKACchHQkMVKd84J67e/1Kbt7B6iytA9L8BcstmYt8b+JKRE29CprOmRa27VcCd8/1JNn+ue2oJ2qUpA5XLX32e5P7LjDR1LMaf0VDRPXVJUjNQ0w8H0c0NInBZcHiApapOaByNdat1vRepAVG7yT0M3ur8PoIe0QUqpTlKP8axvxSdW+8/eZF6QXn9FUBxgVEhLc4SE4rLpIRTruTUiO32f+96r5PM2nCqPS+OdiXUdr7uUuu2O+rnzhztYO6tF0NkbSrro7KV2ujhmQQQy0sdN6dNmsqkmdkmee0pxELnYiiD1PmIEpXexA+q9QTlVSz1eYHTgs7ah/MK9foitKwOmMnk8CQqyBzr7OVjnVqxzjYy0BDN11NNt3Y8wEULusePlznPdLq9rZdtuFdh8OUllecG0n/1257CTZmZJXV5ohQKLMauS24o6mUJmJI07YRxUpW7IiqrfHvruQopuvc08g5JW86wFYZo6cKg/kWISAUc/iA5zXX2LXL5uEKnquaj9dU/T13ndCoNBw22UPRHUvYBKQSeZJQCrmMY8TnlCzsklwJbywMaH4=
    - secure: WPm0CypjVRz7+s9vmlotgiIPQO1muCIdBXwVHee/HtcAccxaTafeEbn7ELKWGE10sK7B/3DOHXRm46q2ZycqOs/rs/u+zctucHz5SmZdWLSKYEjKJwnR51omgZszgp75vZEuZ/twRu8xMyVdHxywdLv8fRndGheYZvY9SS1lB4Jq28X3hlRXSi5VvPQb1zqWlrK2WWgTuH3Qde4ms7jSHOR0Yea0v0/bG+qOy0f3COuknZrPRs71ofkAqtB2tVg3PzAy+jQ1n63jzufehZOZEoGhb7lKps5g/5eFkLNGB+mNOBxziUQy+N+np9SJe28818dobN4cVqC0qeUnEWYMWxmn0+2aJZX80UQy4aYN4VZanGoL/THjSF1SNn9aK9IJAznMaJ8V/OFRn4fJoXSjSPHfw/0q0OLG6qaFfkiwURrVhWJK2530Vd3n2hoXyo87oeu0LPM62Y6SZp7ikDIzSJskAmUtoq8qPgObwq6HNvdRTFHOtr7I6lkqB0oEFMEdE/xtbcBuqlJKNGvo2cwlRxSwAsKydo7FeUybKjS9Wi7W7fXzvJueRFPhkgDL8Bl/av/a8jffdvr6+4j+Atkuu6Lus87oucyd/N0ikyl0OBBVaMYxcXVwzHG5KNq8JM0aFo2g/HWGi4Q3GrkPVrmDSO6gYh8sqFwbligZtHPZHLs=
branches:
  # Releases are generated automatically, stop infinite build loop
  except:
    - /[0-9]*\.[0-9]*\.[0-9]*/
before_install:
  # Install heroku toolchain
  - wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh
  # Expose MQ and DB to Docker container
  - sudo ./bin/ci/init-db.sh
script:
  # Increment version in mix.exs
  - "./bin/version-increment.sh"
  # Install dependencies
  - "mix deps.get"
  # Run all tests except pending ones
  - "mix test --exclude pending --trace"
  # Submit code coverage report to Coveralls
  - "mix coveralls.travis"
  # Run static code analysis
  - "mix credo"
  # Check code style
  - "mix dogma"
  # Build Docker container
  - "./bin/build.sh"
  # Initialize DB for Docker container
  - "MIX_ENV=dev mix ecto.setup"
  # Run Docker container
  - sudo ./bin/start.sh
  - sleep 5
  - docker ps
  - RUNNING_CONTAINERS=`docker ps | wc -l`;
  - if [ "${RUNNING_CONTAINERS//[[:space:]]/}" == "1" ]; then echo "[E] Container is not started!"; docker logs gateway_api --details --since 5h; exit 1; fi;
  # Run acceptance tests on Docker container
  - "CONTAINER_HTTP_HOST=localhost CONTAINER_HTTP_PORT=4000 mix test test/*/acceptance"
after_failure:
  - docker logs gateway_api --details --since 5h
after_success:
  - ./bin/ci/push.sh
  - ./bin/ci/deploy.sh
  - docker logs gateway_api --details --since 5h
